
body {
 border: solid rgba(51, 0, 111, 0.6) 100px;
 color: #505050;
 max-width: 800px, 80%;
 padding: 20px;
 margin: 30px auto;
}

p {
font-size: 1.2em
}

hr {
  border: 0;
  background-color: gray;
  background-image: linear-gradient(to the left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  border-top: 2px solid #8c8b8b;
}

.citation {
  font-style: oblique;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.footnote {
  color: blue;
  vertical-align: super; 
  font-size: 0.6em;
}

.headpic {
text-align: center;
}

.headpic img {
width: 90%;
}

.headpic figcaption {
letter-spacingl: 0.15em;
font-size: 0.8em;
}

p.intro {
border-left: rgba(51, 0, 111, 0.6);  
padding-left: 8px;
}

h1 {
text-align: center;
font-size: 2.5rem;
margin: 0 auto;
}

h1, h2 {
text-transform: uppercase;
color: rgba(51, 0, 111, 0.7);  
}

#para1::first-letter {
font-size: 2em;
color: rgba(51, 0, 111, 0.7);  
font-weight: bold;
}

table.swatches {
border: solid lightgray 2px;
text-align: center;
margin-left: auto;
margin-right: auto;
font-style: Calibri;
font-family: san-serif;
}

table.swatches td {
width: 160px;
text-align: center;
border: solid lightgray 2px;
}

tr:first-child {
height: 50px;
text-transform: uppercase;
letter-spacing: 0.2em;
}

#lav1 {
background-color: #e6e6fa;
color: black;
}

#lav2 {
background-color: #b57edc;
color: lightgray;
}

#lav3 {
background-color: #9966cc;
color: lightgray;
}

#lav4 {
background-color: #4b2e83;
color: lightgray;
}

.photos {
  text-align: center;
}

.photos img {
width: 30%;
margin: 1.3%;
}

table#photos {
border: 2px solid lightgray;
}